services:
  ordo_database:
    image: postgres
    environment: 
      POSTGRES_USER: app_user
      POSTGRES_DB: app_db
      POSTGRES_PASSWORD: app_password
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app_user -d app_db"]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  ordo_app:
    image: ordo_app
    build: .
    entrypoint: ./entrypoint.sh
    ports:
      - "8000:8000"
    depends_on:
      - ordo_database
    environment:
      DATABASE_URL: postgresql+psycopg://app_user:app_password@ordo_database:5432/app_db

volumes:
  pgdata: